Source: pglistener
Section: misc
Priority: optional
Build-Depends: debhelper (>= 5)
Maintainer: Tollef Fog Heen <tfheen@debian.org>

Package: pglistener
Depends: python-psycopg2, lsb-base (>= 3.0-6), adduser, ${misc:Depends}
Suggests: libdbix-class-perl
Architecture: all
Description: Postgres listener
 Daemon that generates files from Postgres when Postgres data is modified.

